.service-box{
    border: 1px solid lightgray;
    /* margin-right: 50px; */
    padding: 20px 10px;
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  31px 31px 63px #bebebe,
             -31px -31px 63px #ffffff;
    
}
.service-box:hover{
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  31px 31px 63px #bebebe,
                -31px -31px 63px #ffffff;

}
.appoint-btn{
    text-decoration: none;
    border: 1px solid white;
    background-color: gray;
    padding: 10px;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}
.appoint-btn:hover{
    background-color: lightgray;
    color: white;
}