.service-box{
    border: 1px solid lightgray;
    padding: 20px 10px;
    border-radius: 50px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  31px 31px 63px #bebebe,
             -31px -31px 63px #ffffff;
}